<!-- partial for (:)contactform -->
<form id="contactform" method="post" action="@root_path/app/contact.php">
  <p><strong>your name</strong><br>
  <input type="text" name="name" id="txtSurname" class="textBox" />

  <p><strong>email address</strong><br>
  <input type="email" name="email" id="txtEmail" class="textBox" />

  <p><strong>telephone number</strong><br>
  <input type="tel" name="phone" id="txtPhone" class="textBox" />

  <p><strong>your message</strong><br>
  <textarea name="txtNotes" id="text" rows="9" style="width: 300px;"></textarea>

  <p><input type="submit" name="btnSubmit" id="btnSubmit" value="send" />
</form><p>