<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>if @pagetitle do @pagetitle || endif @sitetitle</title>
  if @metadesc do <meta name="description" content="@description_content"> endif
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="@root_path/public/favicon.ico">
  <link rel="apple-touch-icon" href="@root_path/public/apple-touch-icon.png">
  <link rel="stylesheet" href="@root_path/public/docs/css/style.css?v=1">
  <link rel="stylesheet" media="handheld" href="@root_path/public/docs/css/handheld.css?v=1">
  <script src="@root_path/public/docs/js/modernizr-1.5.min.js"></script>

</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">
    <header>

    </header>
    
    <div id="main" class="hyphenate">
      @content
    </div>
    
    <footer>

    </footer>
  </div> <!-- end of #container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="@root_path/public/docs/js/jquery-1.4.2.min.js"><\/script>');</script>
  <script src="@root_path/public/docs/js/plugins.js?v=1"></script>
  <script src="@root_path/public/docs/js/script.js?v=1"></script>
  <!--  c.f. http://code.google.com/p/hyphenator/ -->
  <script src="@root_path/public/docs/js/hyphenation.js?v=1"></script>
  

  <!--[if lt IE 7 ]>
    <script src="@root_path/public/docs/js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

  <script src="@root_path/public/docs/js/profiling/yahoo-profiling.min.js?v=1"></script>
  <script src="@root_path/public/docs/js/profiling/config.js?v=1"></script>

  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']]; 
   (function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>